.ContactPrincipal{
    width: 100%;
}

.ContactSec{
    margin: auto;
    width: 60%;
    height: 60%;
    display: flex;
    margin-top: 4%;
    margin-bottom: 10%;
}

.ContactInfo{
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ContactDesc{
    font-size: 14px;
}

.ContactTitle{
    display: flex;
}

.ContactTitle img{
    width: 40px;
}

.ContactButton{
    margin-bottom: 3%;
}
.ContactForm{
    width: 100%;
    overflow: scroll;

}

.ContactAlerts{
}