.Welcome{
    width: 100%vw;
    display: flex;
    padding: 20px;
}

.WelcomeInfo{
    width: 50%;
    height: 50%vh;
    margin-left: 10%;
    margin-top: 4%;
    padding: 2%;
}

.WelcomeImg{
    width: 50%;
    height: 50%vh;
    margin-right: 10%;
    margin-top: 4%;
}

.WelcomeImg img{
    width: 100%;
    height: 100%;
    margin: auto;
}

.TitleInfo{
    width: 100%;
    display: flex;
    height: 10%;
}

.TitleInfo img{
    width: auto;
    vertical-align: middle;
    height: 2em;
}

.PhraseInfo{
    width: 90%;
    height: 25%;
}

.DescInfo{
    width: 90%;
    height: 20%;
    margin: 0;
}


.OurIngr{
    width: 100%;
    margin-left: 6%;
    margin-right: 6%;
}

.OurIngredients{
    margin-left: 7.5%;
    margin-bottom: 2%;
}


.Promos{
    padding: 20px;
    width: 100%vh;
    height: 20vh;
}

.Leave{
    font-size: 14px;
    margin-top: 0.3%;
    color: rgb(0, 0, 0);
    text-decoration: none; 
    cursor: pointer; 
}
.WelcomeSec2{
    display: flex;
    width: 100%vh;
    height: 70%;
}

.WelcomeSec3{
    display: flex;
    width: 100%vh;
    height: 10%;
}

.GetRestaurant{
    width: 80%;
}

.SortOptions{
    width: 20%;
}