.links{
    display: flex;
}

.Cart{
    font-size: 14px;
    font-family: 'open sans', sans-serif;
}

.Zap{
    font-size: 34px;
    color: rgb(255, 255, 255);
    text-decoration: none; 
    cursor: pointer; 
}

.NavBar{
    width: 100%vw;
    height: 20vh;
}

.Language{
    top: 0;   
    left: 0;
}

.cont{
    height: auto;
}

