.StorePrincipal{
    margin: auto;
    padding: 2%;
}

.StoreSec{
    height: 75vh;
    display: flex;
}

.StoreSecLeft{
    width: 20%;
    border-right: 1px solid #18543448
}
.StoreSecRight{
    width: 80%;
}

.StoreTitle{
    display: flex;
    margin-top: 2%;
    overflow: scroll;
}

.StoreTitle img{
    width: 40px;
}

.StoreSearch{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: flex-end; 
}

.TitleModal{
    margin-top: 20%;
    margin-bottom: 5%;
    font-weight: 600;
}
.Store{
    height: 95%;
    display: grid;
    padding: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    grid-template-columns: repeat(4, 1fr);
}

.ContModal1{
    width: 50%;
    height: 100%;
}

.ContModal2{
    width: 50%;
    height: 100%;
}
.ModalCard{
    display: flex;
    width: 100%;
    height: 100%;
}


.SubTitleModal{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
}

.SubTitleModal1{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
    color: black;
    margin: 0;
}

.ButModal{
    display: flex;
    margin-top: 10px;
}